<div class="standalone-form">

    <div id="error_explanation"> 
        <% flash.each do |type, msg| %>
            <div>
                <%= msg %>
            </div>
        <% end %>
    </div>

    <h1> Login to see your goals! </h1>
    
    <%= form_for @user, url: signin_path, method: :post do |f| %>

        <label>Username:</label><br>    
        <%= f.text_field :username %><br><br>
        <label>Password::</label><br>
        <%= f.password_field :password %><br><br>

        <%= f.submit "Sign In" %>

    <% end %>

    <h3><%= link_to('Log in with Facebook', '/auth/facebook') %></h3>

    <h3>New user?<br><%= link_to "Create an account", new_user_path %></h3>
    
</div>