<div class="standalone-form">

    <h1> Edit your task:</h1>
    <%= form_for @task do |f| %>
        <label> Edit task: </label><br>
        <%= f.text_field :description %><br><br>
        <label> Edit due date:</label><br>
        <%= f.date_field :by_when %><br><br><br>
        <%= f.submit %>
    <% end %>

    <br>

    <%= button_to "Delete Task", task_path(@task), :method => :delete %>
</div>