<div class="standalone-form">

<% if @user.errors.any? %>
  <div id="error_explanation"> 

    <% @user.errors.full_messages.each do |msg| %>
      <%= msg %>
    <% end %>

  </div>
<% end %>

    <h1> Create your account: </h1>

    <%= form_for @user do |f| %>

        <label>Name:</label><br>
        <%= f.text_field :name %><br><br>
        <label>Create a username:</label><br>
        <%= f.text_field :username %><br><br>
        <label>Create a password:</label><br>
        <%= f.password_field :password %><br><br>
        <label>Confirm your password:</label><br>
        <%= f.password_field :password_confirmation %><br><br>

        <%= f.submit %>

    <% end %>
</div>