
<% if @goals.empty? %>

    <div class="standalone-form">
        <h1 class="goal-index">Welcome <%= @user.name %>! </h1>
        <h1 class="goal-index">Add your first goal to get started: </h1>
        <h1 class="goal-index"><%= link_to "New goal", new_goal_path %></h1>
    </div>

<% else %>

    <h1 class="goal-index">Hi <%= @user.name %>!</h1>
    <h2 class="goal-index">you have <%= @upcoming_tasks.count %> upcoming tasks <br>to make progress toward your goals.</h2>

    <div class="flex-container">

        <div class="task-container user-page">
            <h2 class="goal-heading">Tasks due:</h2>
            <hr class="solid">
            <% @upcoming_tasks.each do |task| %>
                <div class ="task-complete">
                    <%= form_for task do |f| %>
                        <%= f.hidden_field :target, value: "home" %>
                        <%= f.hidden_field :complete, value: true %>
                        <%= f.submit value: " " %>
                    <% end %>
                </div>
                <div class="task-description">
                    <%= link_to task.description, edit_task_path(task) %>
                </div>
                <div class="task-date" id="<%= 'overdue' if overdue(task) %>">
                        <%= deadline(task) %> 
                </div>
            <% end %>
        </div>

                 
        <div class="goal-container user-page">
            <h2 class="goal-heading"> Open goals: </h2>    
            <hr class="solid">              
            <% @goals.each do |goal| %>
                <div class="goal-description"> 
                    <%= link_to goal.description, goal_path(goal) %>
                </div>
                <div class="goal-date">
                    by: <%= deadline(goal) %>
                </div>
            <% end %>
        </div>
    </div>   
<% end %>