

<h2> My open goals </h2>

    <% if !@goals %> 

        <%= link_to "Add your first goal!", new_goal_path %>

    <% else %>

        <table>
            <% @goals.each do |goal| %>
            <tr>
                <th> <%= goal.description %> </th>
                <th> <%= goal.key_result %> </th>
                <th> <%= deadline(goal) %> </th>
            </tr>
            <% end %>
        </table>

    <% end %>

<h2>My open tasks</h2>

    <ol>
    <% @user.ordered_open_tasks.each do |task| %>

        <li>
        <%= form_for task do |f| %>
            <%= f.hidden_field :target, value: "home" %>
            <%= f.hidden_field :complete, value: true %>
            <%= f.submit value: " " %>
        <% end %>
        <%= task.description %>
        <%= deadline(task) %>
        </li>
        
    <% end %>
    </ol>