

<h2> My open goals </h2>

    <% if !@goals %> 

        <%= link_to "Add your first goal!", new_goal_path %>

    <% else %>

        <table>
            <% @goals.each do |goal| %>
            <tr>
                <th> <%= link_to goal.description, goal_path(goal) %> </th>
                <th> <%= goal.key_result %> </th>
                <th> <%= deadline(goal) %> </th>
            </tr>
            <% end %>
        </table>

    <% end %>

<div class="task-container">

    <h2>My open tasks</h2>
    <hr class="solid">

        <% @user.ordered_open_tasks.each do |task| %>

            <div class ="task-complete">
                <%= form_for task do |f| %>
                    <%= f.hidden_field :target, value: "home" %>
                    <%= f.hidden_field :complete, value: true %>
                    <%= f.submit value: " " %>
                <% end %>
            </div>
            <div class="task-description">
                <%= task.description %>
            </div>
            <div class="task-date">
                <%= deadline(task) %>
            </div>
            <div class="task-delete">
                <%= button_to "x", task_path(task), :method => :delete, class: "delete" %>
            </div>
            
        <% end %>

</div>