
<h1 class="goal-index"> My open goals: </h1>

<div class="goal-index-container">

    <% @goals.not_completed.each do |goal| %>
            <div class="goal-index-description"> 
                <%= link_to goal.description, goal_path(goal) %>
            </div>
            <div class="goal-index-result">
                <%= goal.key_result %>
            </div>
            <div class="goal-index-date">
                <%= deadline(goal) %> 
            </div>
    <% end %>

</div>

<%= render 'form' %>

<h1 class="goal-index"> Congratulations! These are your completed goals: </h1>

<div class="goal-index-container">

    <% @goals.completed.each do |goal| %>
            <div class="goal-index-description"> 
                <%= link_to goal.description, goal_path(goal) %>
            </div>
            <div class="goal-index-result">
                <%= goal.key_result %>
            </div>
            <div class="goal-index-date">
                <%= day_completed(goal) %> 
            </div>
    <% end %>

</div>