
<h1> My open goals: </h1>

<table>

    <% @goals.not_completed.each do |goal| %>
        <tr>
            <th> <%= link_to goal.description, goal_path(goal) %> </th>
            <th> <%= goal.key_result %> </th>
            <th> <%= deadline(goal) %> </th>
        </tr>
    <% end %>

</table>

<%= render 'form' %>

<h1> Congratulations! These are your completed goals: </h1>

<table>

    <% @goals.completed.each do |goal| %>
        <tr>
            <th> <%= link_to goal.description, goal_path(goal) %> </th>
            <th> <%= goal.key_result %> </th>
        </tr>
    <% end %>

</table>