
<h1 class="goal-index"> My open goals: </h1>

<div class="goal-index-container">

    <% @goals.not_completed.each do |goal| %>
            <div class="goal-index-description"> 
                <%= link_to goal.description, goal_path(goal) %>
            </div>
            <div class="goal-index-result">
                <%= goal.key_result %>
            </div>
            <div class="goal-index-date">
                <%= deadline(goal) %> 
            </div>
    <% end %>

</div>

<div class="add-goal-container">
    
    <div class="add-form goal-index add-goal-component">
        <h2> Add a new goal: </h2>
        <%= render 'form' %>
    </div>

    <div class="smart add-goal-component">
        <h2> Writing smart goals: </h2>
        <b><i>S</i> pecific: </b><br> what do you want to do? <br>
        <b><i>M</i> easurable: </b><br> how will you know when you've reached it? <br>
        <b><i>A</i> chievable: </b><br> is it in your power to achieve it? <br>
        <b><i>R</i> ealistic: </b><br> can you realistically achieve it? <br>
        <b><i>T</i> imely: </b><br> when exactly do you want to accomplish it? <br>
    </div>

</div>

<h1 class="goal-index"> Congratulations! These are your completed goals: </h1>

<div class="goal-index-container">

    <% @goals.completed.each do |goal| %>
            <div class="goal-index-description"> 
                <%= link_to goal.description, goal_path(goal) %>
            </div>
            <div class="goal-index-result">
                <%= goal.key_result %>
            </div>
            <div class="goal-index-date">
                <%= day_completed(goal) %> 
            </div>
    <% end %>

</div>