<h1 class="goal"><u>Goal: <%= @goal.description %></u></h1>

<h2>
<% if !@goal.complete? %>
    <%= form_for @goal do |f| %>
        <%= f.hidden_field :complete, value: true %>
        <%= f.hidden_field :completed_date, value: Time.current %>
        <%= f.submit "Goal Complete!", class: "complete-button" %>
    <% end %>
<% end %>
</h2>

<div class="goal-container">
    <div class="goal-result">
        Key result: <%= @goal.key_result %>
    </div>
    <div class="goal-category">
        Category: <%= @goal.category.name %>
    </div>
    <div class="goal-deadline">
        By: <%= deadline(@goal) %>
    </div>
</div>

<div class="edit">
    <%= link_to "edit", edit_goal_path(@goal) %>
</div>

<br>

<div class="flex-container">

    <div class="add-task-form">

        <%= render partial: 'shared/error', locals: {object: @task} %>

        <h3>Add a new task:</h3>
        <%= form_for([@goal, @task]) do |f| %>
            <%= f.text_field :description, placeholder: "Task description" %>
            <%= f.date_field :by_when %><br>
            <%= f.submit "add", class: "add-button" %><br>
        <% end %>
    </div>

    <div class="add-note-form">
        <h3><%= link_to "Add a new note", new_goal_note_path(@goal) %></h3>
    </div>


</div>

<br>

<% if @goal.tasks.empty? %>

    <div class="task-container">
        <h2 class="goal-index">Welcome to your new goal!</h2>
        <h2 class="goal-index">Start adding daily tasks that will lead to the achievement of your goal.</h2>
    </div>

<% else %>

    <div class="task-container">

        <h2>Open Tasks</h2>
        <hr class="solid">

        <% @goal.ordered_open_tasks.each do |task| %>
            <div class ="task-complete">
                <%= form_for task do |f| %>
                    <%= f.hidden_field :target, value: "goal" %>
                    <%= f.hidden_field :complete, value: true %>
                    <%= f.hidden_field :completed_date, value: Time.current %>
                    <%= f.submit value: " ", class: "check" %>
                <% end %>
            </div>
            <div class="task-description">
                <%= link_to task.description, edit_task_path(task) %>
            </div>
            <div class="task-date" id="<%= 'overdue' if overdue(task) %>">
                <%= deadline(task) %> 
            </div>
            <div class="task-delete">
                <%= button_to "x", task_path(task), :method => :delete, class: "delete" %>
            </div>
        <% end %>
    </div>
    <br>
    <div class="task-container">

        <h2>Notes</h2>
        <hr class="solid">

        <% @goal.notes.each do |note| %>
            <div class="note-content">
                <%= note.content %>
            </div>
            <div class="task-delete">
                <%= button_to "x", note_path(note), :method => :delete, class: "delete" %>
            </div>
        <% end %>
    </div>
    <br>

    <div class="task-container">

        <h2>Completed Tasks</h2>
        <hr class="solid">

        <% @goal.ordered_closed_tasks.each do |task| %>
            <div class="check-icon"></div>
            <div class="completed-description">
                <%= link_to task.description, edit_task_path(task) %>
            </div>
            <div class="completed-date">
                <%= day_completed(task) %>
            </div>
        <% end %>
    </div>
<% end %>

<br>

    <%= button_to "Delete Goal", goal_path(@goal), :method => :delete, class: "delete-button" %>