
<h1><%= @goal.description %></h1>
<%= @goal.key_result %>
<%= deadline(@goal) %>

<br>
<h3>Add a new task:</h3>
<%= form_for([@goal, @task]) do |f| %>
    <%= f.text_field :description, placeholder: "Add a task" %>
    <%= f.date_field :by_when %><br>

    <%= f.submit "add" %><br>

<% end %>

<br>

<div class="task-container">

    <h2>Open Tasks</h2>
    <hr class="solid">

        <% @goal.ordered_open_tasks.each do |task| %>
             
                <div class ="task-complete">
                    <%= form_for task do |f| %>
                        <%= f.hidden_field :target, value: "goal" %>
                        <%= f.hidden_field :complete, value: true %>
                        <%= f.submit value: " ", class: "check" %>
                    <% end %>
                </div>
                <div class="task-description">
                    <%= link_to task.description, edit_task_path(task) %>
                </div>
                <div class="task-date">
                    <%= deadline(task) %> 
                </div>
                <div class="task-delete">
                    <%= button_to "x", task_path(task), :method => :delete, class: "delete" %>
                </div>

        <% end %>
</div>

<br>

<div class="task-container">

    <h2>Completed Tasks</h2>
    <hr class="solid">

        <ul>
        <% @goal.tasks.completed.each do |task| %>
            

            <li class="complete"> 
                <%= link_to task.description, edit_task_path(task) %>
            </li>

        <% end %>
        </ul>

</div>

<br>
    <%= button_to "Delete Goal", goal_path(@goal), :method => :delete %>