
<h1><%= @goal.description %></h1>
<%= @goal.key_result %>
<%= deadline(@goal) %>

<br>
<h3>Add a new task:</h3>
<%= form_for([@goal, @task]) do |f| %>
    <%= f.text_field :description, placeholder: "Add a task" %>
    <%= f.date_field :by_when %><br>

    <%= f.submit "add" %><br>

<% end %>

<h2>Open Tasks</h2>

    <ol>
    <% @goal.ordered_open_tasks.each do |task| %>
        
        <li> 
        <%= form_for task do |f| %>
            <%= f.hidden_field :target, value: "goal" %>
            <%= f.hidden_field :complete, value: true %>
            <%= f.submit value: " " %>
        <% end %>
        <%= task.description %>
        <%= deadline(task) %> 
        <%= button_to "x", task_path(task), :method => :delete %>
        </li>

    <% end %>
    </ol>

<h2>Completed Tasks</h2>

    <ol>
    <% @goal.tasks.completed.each do |task| %>
        

        <li> 
        <%= form_for task do |f| %>
            <%= f.hidden_field :target, value: "goal" %>
            <%= f.hidden_field :complete, value: false %>
            <%= f.submit value: " " %>
        <% end %>
        <%= task.description %>
        <%= deadline(task) %> 
        <%= button_to "x", task_path(task), :method => :delete %>
        </li>

    <% end %>
    </ol>



    <%= button_to "Delete Goal", goal_path(@goal), :method => :delete %>