
<h1><%= @goal.description %></h1>
<%= @goal.key_result %>
<%= @goal.by_when %>

<br>
<h2>Add a new task:</h2>
<%= form_for([@goal, @task]) do |f| %>
    <label>Task:</label><br>
    <%= f.text_field :description %><br>
    <label>By when will you complete this task?</label><br>
    <%= f.date_field :by_when %><br>

    <%= f.submit %><br>

<% end %>

<h2>Open Tasks</h2>
<% @goal.tasks.not_completed.each do |task| %>
    <%= task.description %>
<% end %>

<h2>Completed Tasks</h2>
<% @goal.tasks.completed.each do |task| %>
    <%= task.description %>
<% end %>

