<h1 class="goal">Goal:<br><%= @goal.description %></h1>

<div class="goal-container">
    <div class="goal-result">
        Key result: 
        <%= @goal.key_result %>
    </div>
    <div class="goal-deadline">
        By:
        <%= deadline(@goal) %>
    </div>
</div>

<% if !@goal.complete? %>
    <%= form_for @goal do |f| %>
        <%= f.hidden_field :complete, value: true %>
        <%= f.submit "Complete Goal", class: "complete-button" %>
    <% end %>
<% end %>

<br>
<div class="add-task-form">
    <h3>Add a new task:</h3>

    <%= form_for([@goal, @task]) do |f| %>
        <%= f.text_field :description, placeholder: "Task description" %>
        <%= f.date_field :by_when %>
        <br>

        <%= f.submit "add", class: "add-button" %><br>

    <% end %>
</div>
<br>

<div class="task-container">

    <h2>Open Tasks</h2>
    <hr class="solid">

        <% @goal.ordered_open_tasks.each do |task| %>
             
                <div class ="task-complete">
                    <%= form_for task do |f| %>
                        <%= f.hidden_field :target, value: "goal" %>
                        <%= f.hidden_field :complete, value: true %>
                        <%= f.submit value: " ", class: "check" %>
                    <% end %>
                </div>
                <div class="task-description">
                    <%= link_to task.description, edit_task_path(task) %>
                </div>
                <div class="task-date">
                    <%= deadline(task) %> 
                </div>
                <div class="task-delete">
                    <%= button_to "x", task_path(task), :method => :delete, class: "delete" %>
                </div>

        <% end %>
</div>

<br>

<div class="task-container">

    <h2>Completed Tasks</h2>
    <hr class="solid">

        <% @goal.tasks.completed.each do |task| %>
           
            
            <div class="completed">
            <div class="check-icon"></div>
            <%= link_to task.description, edit_task_path(task) %>
            </div>

        <% end %>


</div>

<br>
    <%= button_to "Delete Goal", goal_path(@goal), :method => :delete, class: "delete-button" %>