<!DOCTYPE html>
<html>
  <head>
    <title>GoalTracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">

    <meta property=”og:image” content=”https://images.pexels.com/photos/733857/pexels-photo-733857.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260” />
    <meta property=”og:title” content=”Goal Tracking App” />
    <meta property=”og:url” content=”https://rails-goal-tracker.herokuapp.com/” />
    <meta property=”og:description” content=”A goal tracking app that allows a user to create and track a tangible plan for achieving each of their personal goals.” />

  </head>

  <div class = "wrapper">


    <nav class="navbar">
        <a class="nav-link" href="/">Home</a>
        <% if !session[:user_id] %>
          <a class="nav-link" href="/signin">Sign In</a> 
          <a class="nav-link" href="/users/new">Sign Up</a> 
        <% else %>
          <%= link_to "Manage Goals", goals_path, :class => "nav-link" %>
          <%= link_to "See All Tasks", tasks_path, :class => "nav-link" %>
          <a class="nav-link" href="/logout">Logout</a>
        <% end %>
    </nav>


    <body>
      <%= yield %>
    </body>

  <div>

</html>
