<!DOCTYPE html>
<html>
  <head>
    <title>GoalTracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

    <a href="/">Home</a>
    <% if !session[:user_id] %>
      <a href="/signin">Sign In</a> 
      <a href="/users/new">Sign Up</a> 
    <% else %>
      <%= link_to "Manage Goals", goals_path %>
      <%= link_to "Manage Tasks", tasks_path %>
      <a href="/logout">Logout</a>
    <% end %>
    <br><br>


  <body>
    <%= yield %>
  </body>
</html>
