<!DOCTYPE html>
<html>
  <head>
    <title>GoalTracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    
    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">





  </head>

  <div id="logo">
    <image src= "https://image.flaticon.com/icons/svg/747/747836.svg">
    <% if session[:user_id] %>
      <%= current_user.name %>'s Goals
    <% end %>
    </div>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="nav-link" href="/">Home</a>
      <% if !session[:user_id] %>
        <a class="nav-link" href="/signin">Sign In</a> 
        <a class="nav-link" href="/users/new">Sign Up</a> 
      <% else %>
        <%= link_to "Manage Goals", goals_path, :class => "nav-link" %>
        <a class="nav-link" href="/logout">Logout</a>
      <% end %>
  </nav>

<div class="container">
  <body>
    <%= yield %>
  </body>
  </div>
</html>
